// $bg-color: #242424;
$bg-color: #242424;
$color: #ececec;
$point-color: #A8C3FF;
$title-font : "Playfair Display";
// $title:3.75rem;
// //60
$df: 1.6rem;
//16
$sm: 1.8rem;
//18
$md:2.4rem;
//24
$xl: 4rem;
// 40
$xxl : 6rem;
$b: 1px solid red; 
$w: 100%;
$h: 100%;