
.icon-bullhorn:before { content: '\e800'; } /* '' */
.icon-headphones:before { content: '\e801'; } /* '' */
.icon-phone:before { content: '\e802'; } /* '' */
.icon-phone-squared:before { content: '\f098'; } /* '' */
