@media all and (min-width:768px) {
  .menu a {
    font-size: 18px;
  }

  h1 {
    width: 70%;
  }

  .rotate_image {
    width: 20%;
  }

  .newarrival-wrap {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
  }

  .main-slide {
    /* height: 80vh; */
}

  .man,
  .woman {
    width: 50%;
  }

  .man {
    margin: 0;
  }

  .man-img,
  .woman-img {
    width: 100%;
    height: 100%;
  }

  .man-img img,
  .woman-img img {
    width: 100%;
    height: 100%;
  }

  .man p,
  .woman p {
    font-size: 1.438rem;
  }

  #container-2 {
    align-items: baseline;
  }

  .video {
    height: 50vw;
  }

  #container-4 {
    align-items: flex-start;
  }

  .img-container {
    background-position: top 0px right -107px;
  }

  .placement_content {
    padding: 0 20px;
  }

  .placement_content h4 {
    font-size: 20px;
  }

  .placement_content a {
    font-size: 16px;
  }

  .image-card>li {
    width: 70%;
  }

  .card-box {
    height: 500px;
  }

  .card-box li {
    width: 100%;
    height: 100%;
  }

  .card-box li img {
    width: 100%;
  }


}

@media all and (min-width:1024px) {
  .m-main {
    display: none;
  }

  .pc-main {
    display: block;
    height: 37vw;
    padding: 10px 0 2px 0;
  }

  .pc-1 {
    background-image: url("/acne/images/main-visual/pc2.png");
  }

  .pc-2 {
    background-image: url("/acne/images/main-visual/pc4.png");
  }

  .pc-3 {
    background-image: url("/acne/images/main-visual/pc3.png");
  }

  h1 {
    width: 37%;
  }

  .rotate_image {
    width: 17%;
  }

  .man-text button,
  .woman-text button {
    font-size: 16px;
  }

  .card-box {
    height: 600px;
}

.img-container {
  background-position: top 0px right -102px;
  /* background-position: center; */
}

  .info {
    padding-top: 25px;
  }

  .list li a {
    font-size: 17px;
  }

}

@media all and (min-width:1440px) {
  .rotate_image {
    width: 15%;
  }

  .man p,
  .woman p {
    font-size: 1.75rem;
  }

  .man-text button,
  .woman-text button {
    font-size: 18px;
  }

  .flow-text {
    font-size: 2.813rem;
  }

  #container-3 {
    margin-bottom: 180px;
  }

  .imgcard-title h2 {
    font-size: 3.125rem;
  }

  .imgcard-title p {
    font-size: 18px;
  }

  .image-card li a {
    font-size: 20px;
  }

  .image-card>li:hover {
    width: 85%;
  }

  .img-container {
    /* background-position: top 0px right -66px; */
    background-position: center;

    height: 645px;
  }

  .placement_content h4 {
    font-size: 30px;
  }

  .placement_content a {
    font-size: 20px;
  }
  .foot-bg {
    height: 370px;
  }

  .input-wrap {
    margin-top: 75px;
  }

}


@media all and (min-width:1800px) {
  .menu a {
    font-size: 20px;
}


  .pc-main {
    height: 38vw;
  }

  
  #container-1 {
    margin:0 0 180px 0;
  }
  
  .man p, .woman p {
    font-size: 1.875rem;
  }

  .man-text button, .woman-text button {
    font-size: 20px;
  }

  #container-2 {
    margin: 150px 0;
  }

  .flow-text {
    font-size: 3.125rem;
  }

  .video {
    height: 34vw;
  }

  .card-box {
    height: 760px; 
}

#container-3 {
  margin-bottom: 200px;
}

.img-container {
  /* background-position: top 0px right 0px; */
  height: 700px;
}

#container-4 {
  margin: 150px 0;
}

.placement_content h4 {
  font-size: 34px;
}
.placement_content a {
  font-size: 23px;
}

.foot-bg {
  height: 515px;
}

.form {
  padding: 63px 0;
}

.info>ul {
  padding: 0 60px;
}

}
