@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.cdnfonts.com/css/verdana");
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
html,
body {
  height: 100%;
}

body {
  font-family: "Poppins", "verdana", "Pretendard-Regular", "gulim", "dotum", serif;
  color: #131313;
  text-transform: uppercase;
}

body.active {
  overflow: hidden;
}

.blnd {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
}

.wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.more {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 50px;
  color: #fff;
  background-color: #131313;
  border: 1px solid transparent;
  transition: 0.2s;
}
@media all and (min-width: 320px) and (max-width: 535px) {
  .more {
    width: 140px;
    height: 45px;
  }
}
@media all and (min-width: 535px) and (max-width: 720px) {
  .more {
    width: 150px;
    height: 45px;
  }
}
.more span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  width: 120px;
  font-weight: 700;
  font-size: 18px;
}
@media all and (min-width: 320px) and (max-width: 535px) {
  .more span {
    width: 100px;
    font-size: 16px;
  }
}
.more span::after {
  content: "";
  background-color: #fff;
  width: 25px;
  height: 3.2px;
}
.more:hover {
  background-color: #fff;
  border: 1px solid #131313;
  color: #131313;
}
.more:hover span::after {
  background-color: #131313;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 80px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 990;
}
.header .head {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.header .head h1 {
  margin-left: 55px;
}
@media all and (min-width: 320px) and (max-width: 535px) {
  .header .head h1 {
    margin-left: 15px;
  }
}
@media all and (min-width: 535px) and (max-width: 720px) {
  .header .head h1 {
    margin-left: 25px;
  }
}
@media all and (min-width: 720px) and (max-width: 960px) {
  .header .head h1 {
    margin-left: 35px;
  }
}
@media all and (min-width: 960px) and (max-width: 1024px) {
  .header .head h1 {
    margin-left: 45px;
  }
}
@media (min-width: 1024px) and (max-width: 1500px) {
  .header .head h1 {
    margin-left: 45px;
  }
}
@media (min-width: 1500px) and (max-width: 1800px) {
  .header .head h1 {
    margin-left: 45px;
  }
}
@media all and (min-width: 1800px) {
  .header .head h1 {
    margin-left: 105px;
  }
}
.header .head h1 img {
  width: 100%;
}

.header.active {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.navi-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
@media (min-width: 1024px) and (max-width: 1500px) {
  .navi-wrap {
    margin-right: 150px;
    justify-content: flex-end;
  }
}
@media (min-width: 1500px) and (max-width: 1800px) {
  .navi-wrap {
    margin-right: 180px;
    justify-content: flex-end;
  }
}
@media all and (min-width: 1800px) {
  .navi-wrap {
    margin-right: 200px;
    justify-content: flex-end;
  }
}

#navi {
  display: flex;
  justify-content: space-between;
  width: 90%;
  position: absolute;
  top: 200px;
  opacity: 0;
  transition: 0.1s ease-in-out;
  display: none;
}
#navi.active {
  display: flex;
  opacity: 1;
  top: 350px;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media all and (min-width: 960px) and (max-width: 1024px) {
  #navi {
    width: 85%;
  }
}
@media (min-width: 1024px) and (max-width: 1500px) {
  #navi {
    width: 75%;
  }
}
@media (min-width: 1500px) and (max-width: 1800px) {
  #navi {
    width: 65%;
  }
}
@media all and (min-width: 1800px) {
  #navi {
    width: 60%;
  }
}
#navi .menu {
  display: flex;
  flex-direction: column;
  font-weight: 800;
  font-size: 70px;
  color: transparent;
  -webkit-text-stroke: 1px #131313;
  transition: 0.1s;
}
@media all and (min-width: 320px) and (max-width: 535px) {
  #navi .menu li a {
    font-size: 50px;
    line-height: 74px;
  }
}
@media all and (min-width: 535px) and (max-width: 720px) {
  #navi .menu li a {
    font-size: 62px;
    line-height: 85px;
  }
}
@media all and (min-width: 720px) and (max-width: 960px) {
  #navi .menu li a {
    font-size: 62px;
    line-height: 85px;
  }
}
@media all and (min-width: 960px) and (max-width: 1024px) {
  #navi .menu li a {
    font-size: 62px;
    line-height: 85px;
  }
}
@media (min-width: 1024px) and (max-width: 1500px) {
  #navi .menu li a {
    font-size: 62px;
    line-height: 85px;
  }
}
@media (min-width: 1500px) and (max-width: 1800px) {
  #navi .menu li a {
    font-size: 70px;
    line-height: 100px;
  }
}
@media all and (min-width: 1800px) {
  #navi .menu li a {
    font-size: 70px;
    line-height: 100px;
  }
}
#navi .menu li a span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
  position: relative;
}
#navi .menu li a span::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 0px;
  height: 8px;
  right: -10px;
  background-color: #131313;
  transition: 0.2s;
  opacity: 0;
}
#navi .menu li a:hover {
  color: #131313;
}
#navi .menu li a:hover span::after {
  opacity: 1;
  right: -30px;
  width: 20px;
}
#navi p {
  display: block;
  text-align: end;
  line-height: 1.7;
  font-size: 24px;
}
@media all and (min-width: 320px) and (max-width: 535px) {
  #navi p {
    display: none;
  }
}
@media all and (min-width: 535px) and (max-width: 720px) {
  #navi p {
    display: none;
  }
}
#navi p span {
  font-weight: 200;
  display: block;
}
#navi p span:nth-of-type(2) {
  opacity: 0.9;
}
#navi p strong {
  font-weight: bolder;
}

.pc-menu {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  width: auto;
}
@media all and (min-width: 320px) and (max-width: 535px) {
  .pc-menu {
    display: none;
  }
}
@media all and (min-width: 535px) and (max-width: 720px) {
  .pc-menu {
    display: none;
  }
}
@media all and (min-width: 720px) and (max-width: 960px) {
  .pc-menu {
    display: none;
  }
}
@media all and (min-width: 960px) and (max-width: 1024px) {
  .pc-menu {
    display: none;
  }
}
.pc-menu li {
  margin: 0 20px;
}
@media (min-width: 1500px) and (max-width: 1800px) {
  .pc-menu li {
    margin: 0 30px;
  }
}
@media all and (min-width: 1800px) {
  .pc-menu li {
    margin: 0 35px;
  }
}
.pc-menu li a {
  position: relative;
  padding: 0;
  font-size: 18px;
  font-weight: 600;
  color: #131313;
  line-height: 40px;
  letter-spacing: -1px;
}
.pc-menu li a::after {
  content: "";
  position: absolute;
  top: 30px;
  left: 0;
  right: 100%;
  height: 3px;
  background: transparent;
  pointer-events: none;
  transition: 0.4s;
  -webkit-transition: 0.4s;
}
.pc-menu li a:hover::after {
  right: 0;
  background-color: #131313;
  pointer-events: unset;
}

.pc-menu.active {
  display: none;
}

.gnb-btn {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  position: absolute;
  right: 55px;
  top: 0;
  z-index: 99;
  width: 40px;
  height: 100%;
  color: #131313;
  opacity: 1;
  cursor: pointer;
}
@media all and (min-width: 1800px) {
  .gnb-btn {
    right: 100px;
  }
}
@media all and (min-width: 320px) and (max-width: 535px) {
  .gnb-btn {
    right: 15px;
  }
}
@media all and (min-width: 535px) and (max-width: 720px) {
  .gnb-btn {
    right: 25px;
  }
}
@media all and (min-width: 720px) and (max-width: 960px) {
  .gnb-btn {
    margin-left: 35px;
  }
}
.gnb-btn i {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 20px;
  height: 3px;
  margin-top: -1px;
  margin-left: -10px;
  background-color: currentColor;
  transition: 0.2s;
  -webkit-transition: 0.2s;
}
.gnb-btn i::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  left: 0;
  right: 0;
  top: -8px;
  height: 3px;
  background-color: currentColor;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}
.gnb-btn i::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  left: 50%;
  right: 0;
  bottom: -8px;
  height: 3px;
  background-color: currentColor;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}
.gnb-btn:hover i::after {
  left: 0%;
}

.gnb-btn.active {
  top: 0;
}
.gnb-btn.active i {
  background-color: transparent;
}
.gnb-btn.active i::before {
  left: -2px;
  right: -2px;
  top: 0;
  transform: rotate(45deg);
}
.gnb-btn.active i::after {
  left: -2px;
  right: -2px;
  bottom: 0;
  transform: rotate(-45deg);
}

aside {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;
  height: 100px;
  position: fixed;
  bottom: 224px;
  right: 400px;
  z-index: 998;
  left: 0;
}
@media all and (min-width: 320px) and (max-width: 535px) {
  aside {
    bottom: 0;
    right: 0;
  }
}
@media all and (min-width: 535px) and (max-width: 720px) {
  aside {
    right: 20px;
  }
}
@media all and (min-width: 720px) and (max-width: 960px) {
  aside {
    right: 32px;
  }
}
@media all and (min-width: 960px) and (max-width: 1024px) {
  aside {
    right: 60px;
  }
}
@media (min-width: 1024px) and (max-width: 1500px) {
  aside {
    right: 117px;
  }
}
@media (min-width: 1500px) and (max-width: 1800px) {
  aside {
    right: 260px;
  }
}
aside .sns-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  width: 120px;
}
aside .sns-wrap.active {
  display: none;
}
@media all and (min-width: 320px) and (max-width: 535px) {
  aside .sns-wrap {
    display: none;
  }
}
@media all and (min-width: 535px) and (max-width: 720px) {
  aside .sns-wrap {
    display: none;
  }
}
@media all and (min-width: 720px) and (max-width: 960px) {
  aside .sns-wrap {
    display: none;
  }
}
@media all and (min-width: 960px) and (max-width: 1024px) {
  aside .sns-wrap {
    left: 15px;
  }
}
@media (min-width: 1024px) and (max-width: 1500px) {
  aside .sns-wrap {
    left: 20px;
  }
}
@media (min-width: 1500px) and (max-width: 1800px) {
  aside .sns-wrap {
    left: 30px;
  }
}
@media all and (min-width: 1800px) {
  aside .sns-wrap {
    left: 40px;
  }
}
aside .sns-wrap a {
  margin-bottom: 10px;
}
aside .sns-wrap a {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  overflow: hidden;
}
aside .sns-wrap a i {
  background-image: url("/wonderplace/imgs/common/icon_sns.svg");
  background-position: initial;
  background-size: 200% auto;
  display: inline-block;
  width: 30px;
  height: 30px;
  transition: 0.2s;
}
aside .sns-wrap a .facebook {
  background-position: left top;
}
aside .sns-wrap a .instagram {
  background-position: left;
}
aside .sns-wrap a .youtube {
  background-position: left bottom;
}
aside .sns-wrap a:hover .facebook {
  background-color: #131313;
  border-radius: 100%;
  background-position: right top;
}
aside .sns-wrap a:hover .instagram {
  background-color: #131313;
  border-radius: 100%;
  background-position: right;
}
aside .sns-wrap a:hover .youtube {
  background-color: #131313;
  border-radius: 100%;
  background-position: right bottom;
}
aside .bottom-btn {
  opacity: 0;
  width: 5px;
  height: 5px;
  position: absolute;
  cursor: pointer;
}
aside .bottom-btn i {
  width: 0.8px;
  height: 45px;
  position: absolute;
  top: 180px;
  right: 20px;
  display: inline-block;
  background-color: #131313;
}
aside .bottom-btn i::after {
  content: "";
  display: block;
  position: absolute;
  left: -7px;
  bottom: 3px;
  width: 15px;
  height: 15px;
  transform: rotate(135deg);
  border-right: 1px solid #131313;
}
@media all and (min-width: 320px) and (max-width: 535px) {
  aside .bottom-btn i {
    top: -18px;
    right: 10px;
  }
}
aside .bottom-btn.active {
  opacity: 1;
  right: 0;
}
@media (min-width: 1024px) and (max-width: 1500px) {
  aside .bottom-btn.active {
    right: 22px;
  }
}
@media (min-width: 1500px) and (max-width: 1800px) {
  aside .bottom-btn.active {
    right: 45px;
  }
}
@media all and (min-width: 1800px) {
  aside .bottom-btn.active {
    right: 75px;
  }
}
aside .top-btn {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  background-color: #131313;
  margin-right: 20px;
  z-index: 888;
  transition: 0.2s ease-in;
  opacity: 0;
  cursor: pointer;
}
@media all and (min-width: 535px) and (max-width: 720px) {
  aside .top-btn {
    margin-right: 60px;
  }
}
@media all and (min-width: 720px) and (max-width: 960px) {
  aside .top-btn {
    margin-right: 60px;
    width: 50px;
    height: 50px;
  }
}
@media all and (min-width: 960px) and (max-width: 1024px) {
  aside .top-btn {
    margin-right: 50px;
    width: 50px;
    height: 50px;
  }
}
@media (min-width: 1024px) and (max-width: 1500px) {
  aside .top-btn {
    margin-right: 50px;
    width: 60px;
    height: 60px;
  }
}
@media (min-width: 1500px) and (max-width: 1800px) {
  aside .top-btn {
    margin-right: 60px;
    width: 60px;
    height: 60px;
  }
}
@media all and (min-width: 1800px) {
  aside .top-btn {
    margin-right: 70px;
    width: 70px;
    height: 70px;
  }
}
aside .top-btn i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 13px;
  height: 13px;
  margin-left: -7px;
  margin-top: -3px;
  border: 1px solid #fff;
  transform: rotate(45deg);
  border-bottom: 0;
  border-right: 0;
}
aside .top-btn.on {
  z-index: 900;
  opacity: 1;
}
aside .top-btn.active {
  display: none;
}

/* END header */
.main {
  width: 100%;
  margin-top: 100px;
  position: relative;
  height: 62.5rem;
  padding-top: 250px;
  overflow: hidden;
}
@media all and (min-width: 320px) and (max-width: 535px) {
  .main {
    height: 34.375rem;
    padding-top: 100px;
  }
}
@media all and (min-width: 535px) and (max-width: 720px) {
  .main {
    height: 53.125rem;
    padding-top: 100px;
  }
}
@media all and (min-width: 720px) and (max-width: 960px) {
  .main {
    height: 68.75rem;
    padding-top: 100px;
  }
}
@media all and (min-width: 960px) and (max-width: 1024px) {
  .main {
    height: 75rem;
    padding-top: 100px;
  }
}
@media (min-width: 1024px) and (max-width: 1500px) {
  .main {
    padding-top: 200px;
  }
}
@media (min-width: 1500px) and (max-width: 1800px) {
  .main {
    height: 68.75rem;
    padding-top: 250px;
  }
}
@media all and (min-width: 1800px) {
  .main {
    height: 81.25rem;
    padding-top: 250px;
  }
}
.main .wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  position: relative;
}
.main .wrap .main-bg {
  display: flex;
  flex-direction: column-reverse;
  transition: 0.2s ease-in-out;
  overflow: hidden;
  width: 86%;
  margin-top: 20px;
  position: absolute;
  top: -100px;
}
.main .wrap .main-bg .bg .item {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  color: transparent;
  height: 700px;
}
@media all and (min-width: 320px) and (max-width: 535px) {
  .main .wrap .main-bg .bg .item {
    height: 300px;
    background-position: top 0 right 27%;
  }
}
@media all and (min-width: 535px) and (max-width: 720px) {
  .main .wrap .main-bg .bg .item {
    height: 360px;
    background-position: top 0 right 27%;
  }
}
@media all and (min-width: 720px) and (max-width: 960px) {
  .main .wrap .main-bg .bg .item {
    height: 550px;
    background-position: top 0 right 27%;
  }
}
@media all and (min-width: 960px) and (max-width: 1024px) {
  .main .wrap .main-bg .bg .item {
    height: 600px;
    background-position: top 0 right 27%;
  }
}
@media (min-width: 1024px) and (max-width: 1500px) {
  .main .wrap .main-bg .bg .item {
    height: 600px;
    background-position: top 0 right 27%;
  }
}
.main .wrap .main-bg .bg-1 .item {
  background-image: url("/wonderplace/imgs/hero/bg01.jpg");
}
.main .wrap .main-bg .bg-2 .item {
  background-image: url("/wonderplace/imgs/hero/bg02.jpg");
}
.main .wrap .main-bg .bg-3 .item {
  background-image: url("/wonderplace/imgs/hero/bg03.jpg");
}
.main .wrap .main-bg .prev,
.main .wrap .main-bg .next {
  display: block;
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: #131313;
  z-index: 800;
  top: 200px;
  cursor: pointer;
}
@media all and (min-width: 320px) and (max-width: 535px) {
  .main .wrap .main-bg .prev,
  .main .wrap .main-bg .next {
    display: none;
    opacity: 0;
  }
}
@media all and (min-width: 535px) and (max-width: 720px) {
  .main .wrap .main-bg .prev,
  .main .wrap .main-bg .next {
    display: none;
    opacity: 0;
  }
}
@media all and (min-width: 720px) and (max-width: 960px) {
  .main .wrap .main-bg .prev,
  .main .wrap .main-bg .next {
    top: 360px;
  }
}
@media all and (min-width: 960px) and (max-width: 1024px) {
  .main .wrap .main-bg .prev,
  .main .wrap .main-bg .next {
    top: 379px;
  }
}
.main .wrap .prev {
  right: 250px;
}
@media all and (min-width: 320px) and (max-width: 535px) {
  .main .wrap .prev {
    opacity: 0;
    display: none;
  }
}
@media all and (min-width: 535px) and (max-width: 720px) {
  .main .wrap .prev {
    opacity: 0;
    display: none;
  }
}
@media all and (min-width: 720px) and (max-width: 960px) {
  .main .wrap .prev {
    right: 144px;
  }
}
@media all and (min-width: 960px) and (max-width: 1024px) {
  .main .wrap .prev {
    right: 224px;
  }
}
@media (min-width: 1024px) and (max-width: 1500px) {
  .main .wrap .prev {
    right: 170px;
  }
}
.main .wrap .prev::before {
  left: calc(50% - 5px);
  transform: rotate(225deg);
  content: "";
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: calc(50% - 12px);
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  border-top: #fff solid 2px;
  border-right: #fff solid 2px;
  border-radius: 2px;
  opacity: 1;
  transition: 0.2s;
  -webkit-transition: 0.2s;
}
.main .wrap .next {
  right: 170px;
}
@media all and (min-width: 320px) and (max-width: 535px) {
  .main .wrap .next {
    display: none;
  }
}
@media all and (min-width: 535px) and (max-width: 720px) {
  .main .wrap .next {
    display: none;
  }
}
@media all and (min-width: 720px) and (max-width: 960px) {
  .main .wrap .next {
    right: 64px;
  }
}
@media all and (min-width: 960px) and (max-width: 1024px) {
  .main .wrap .next {
    right: 144px;
  }
}
@media (min-width: 1024px) and (max-width: 1500px) {
  .main .wrap .next {
    right: 90px;
  }
}
.main .wrap .next::before {
  left: calc(50% - 20px);
  transform: rotate(45deg);
  content: "";
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: calc(50% - 12px);
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  border-top: #fff solid 2px;
  border-right: #fff solid 2px;
  border-radius: 2px;
  opacity: 1;
  transition: 0.2s;
  -webkit-transition: 0.2s;
}
.main .wrap .main-text {
  position: absolute;
  top: -83px;
  left: 300px;
}
@media all and (min-width: 320px) and (max-width: 535px) {
  .main .wrap .main-text {
    top: -79px;
    left: 85px;
  }
}
@media all and (min-width: 535px) and (max-width: 720px) {
  .main .wrap .main-text {
    top: -80px;
    left: 112px;
  }
}
@media all and (min-width: 720px) and (max-width: 960px) {
  .main .wrap .main-text {
    top: -110px;
    left: 140px;
  }
}
@media all and (min-width: 960px) and (max-width: 1024px) {
  .main .wrap .main-text {
    top: -84px;
    left: 200px;
  }
}
@media (min-width: 1024px) and (max-width: 1500px) {
  .main .wrap .main-text {
    top: -100px;
    left: 210px;
  }
}
@media (min-width: 1500px) and (max-width: 1800px) {
  .main .wrap .main-text {
    top: -95px;
    left: 300px;
  }
}
@media all and (min-width: 1800px) {
  .main .wrap .main-text {
    top: -95px;
    left: 375px;
  }
}
.main .wrap .main-text ul li {
  font-weight: 200;
  font-size: 70px;
  line-height: 105px;
}
@media all and (min-width: 320px) and (max-width: 535px) {
  .main .wrap .main-text ul li {
    line-height: 1.9;
    font-size: 20px;
  }
}
@media all and (min-width: 535px) and (max-width: 720px) {
  .main .wrap .main-text ul li {
    font-size: 38px;
    line-height: 1.35;
  }
}
@media all and (min-width: 720px) and (max-width: 960px) {
  .main .wrap .main-text ul li {
    font-size: 50px;
    line-height: 1.35;
  }
}
@media all and (min-width: 960px) and (max-width: 1024px) {
  .main .wrap .main-text ul li {
    font-size: 50px;
    line-height: 65px;
  }
}
.main .wrap .main-text ul li:nth-child(3), .main .wrap .main-text ul li:nth-child(4) {
  font-weight: bold;
}
.main .wrap .main-text ul li:nth-child(4) {
  font-size: 16px;
  margin: 40px 0 30px 0;
  line-height: normal;
}
@media all and (min-width: 320px) and (max-width: 535px) {
  .main .wrap .main-text ul li:nth-child(4) {
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 14px;
  }
}
@media all and (min-width: 535px) and (max-width: 720px) {
  .main .wrap .main-text ul li:nth-child(4) {
    margin-top: 12px;
    margin-bottom: 25px;
    font-size: 14px;
  }
}
@media all and (min-width: 720px) and (max-width: 960px) {
  .main .wrap .main-text ul li:nth-child(4) {
    margin: 30px 0;
    margin-bottom: 25px;
    font-size: 14px;
  }
}
.main .wrap .main-text ul li:nth-child(5) {
  font-weight: 200;
  font-size: 17px;
  line-height: 1.8;
  width: 70%;
}
@media all and (min-width: 320px) and (max-width: 535px) {
  .main .wrap .main-text ul li:nth-child(5) {
    display: none;
  }
}
@media all and (min-width: 535px) and (max-width: 720px) {
  .main .wrap .main-text ul li:nth-child(5) {
    display: none;
  }
}
@media all and (min-width: 720px) and (max-width: 960px) {
  .main .wrap .main-text ul li:nth-child(5) {
    display: block;
    width: 80%;
    font-size: 15px;
  }
}
@media (min-width: 1024px) and (max-width: 1500px) {
  .main .wrap .main-text ul li:nth-child(5) {
    display: block;
    width: 50%;
    font-size: 16px;
  }
}
@media (min-width: 1500px) and (max-width: 1800px) {
  .main .wrap .main-text ul li:nth-child(5) {
    display: block;
    width: 50%;
    font-size: 17px;
  }
}
@media all and (min-width: 1800px) {
  .main .wrap .main-text ul li:nth-child(5) {
    display: block;
    width: 50%;
    font-size: 17px;
  }
}
.main .wrap .bn-controller {
  margin-bottom: 100px;
  cursor: pointer;
}
@media all and (min-width: 320px) and (max-width: 535px) {
  .main .wrap .bn-controller {
    margin-bottom: 65px;
    margin-top: 0;
  }
}
@media all and (min-width: 535px) and (max-width: 720px) {
  .main .wrap .bn-controller {
    margin-bottom: 75px;
    margin-top: 0;
  }
}
@media all and (min-width: 720px) and (max-width: 960px) {
  .main .wrap .bn-controller {
    margin-bottom: 280px;
    margin-top: 0;
  }
}
@media all and (min-width: 960px) and (max-width: 1024px) {
  .main .wrap .bn-controller {
    margin-bottom: 280px;
    margin-top: 0;
  }
}
.main .wrap .bn-controller .slide-banner .bn-item {
  font-size: 23px;
  line-height: 2;
}
@media all and (min-width: 320px) and (max-width: 535px) {
  .main .wrap .bn-controller .slide-banner .bn-item {
    font-size: 16.5px;
    line-height: 2;
  }
}
@media all and (min-width: 535px) and (max-width: 720px) {
  .main .wrap .bn-controller .slide-banner .bn-item {
    font-size: 17px;
    line-height: 2.7;
  }
}
@media all and (min-width: 720px) and (max-width: 960px) {
  .main .wrap .bn-controller .slide-banner .bn-item {
    font-size: 20px;
    line-height: 2;
  }
}
.main .wrap .bn-controller .slide-banner .bn-item::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 8.5px;
  height: 3.3px;
  margin-right: 8px;
  background-color: #999;
  transition: 0.3s;
}
.main .wrap .bn-controller li.slick-active .bn-item {
  font-weight: 700;
}
.main .wrap .bn-controller li.slick-active .bn-item:before {
  background-color: #131313;
  width: 18px;
  margin-right: 5px;
}

/* END main */
.cont {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.cont .wrap {
  flex-direction: column;
  width: 90%;
}
@media all and (min-width: 720px) and (max-width: 960px) {
  .cont .wrap {
    width: 85%;
  }
}
@media (min-width: 1500px) and (max-width: 1800px) {
  .cont .wrap {
    width: 75%;
  }
}
@media all and (min-width: 1800px) {
  .cont .wrap {
    width: 60%;
  }
}
.cont .wrap .sub-tit {
  width: 100%;
}
.cont .wrap .sub-tit li:nth-child(1) {
  font-weight: 700;
  letter-spacing: -2.5px;
  line-height: 1.4;
  margin-bottom: 20px;
  font-size: 45px;
}
@media all and (min-width: 320px) and (max-width: 535px) {
  .cont .wrap .sub-tit li:nth-child(1) {
    font-size: 30px;
  }
}
@media all and (min-width: 535px) and (max-width: 720px) {
  .cont .wrap .sub-tit li:nth-child(1) {
    font-size: 30px;
  }
}
@media all and (min-width: 720px) and (max-width: 960px) {
  .cont .wrap .sub-tit li:nth-child(1) {
    font-size: 35px;
  }
}
@media (min-width: 1024px) and (max-width: 1500px) {
  .cont .wrap .sub-tit li:nth-child(1) {
    font-size: 45px;
  }
}
@media (min-width: 1500px) and (max-width: 1800px) {
  .cont .wrap .sub-tit li:nth-child(1) {
    font-size: 60px;
  }
}
.cont .wrap .sub-tit li:nth-child(1) span {
  display: block;
  letter-spacing: 4.5px;
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 1rem;
}
.cont .wrap .sub-tit li:nth-child(2) {
  line-height: 1.6;
  letter-spacing: -1px;
}
@media all and (min-width: 960px) and (max-width: 1024px) {
  .cont .wrap .sub-tit li:nth-child(2) {
    margin: 50px 0;
  }
}
@media (min-width: 1024px) and (max-width: 1500px) {
  .cont .wrap .sub-tit li:nth-child(2) {
    margin: 50px 0;
    width: 60%;
    font-size: 18px;
  }
}
@media (min-width: 1500px) and (max-width: 1800px) {
  .cont .wrap .sub-tit li:nth-child(2) {
    margin: 80px 0;
    width: 50%;
    font-size: 18px;
  }
}
@media all and (min-width: 1800px) {
  .cont .wrap .sub-tit li:nth-child(2) {
    margin: 80px 0;
    width: 50%;
    font-size: 18px;
  }
}
@media all and (min-width: 535px) and (max-width: 720px) {
  .cont .wrap .sub-tit li:nth-child(2) span {
    display: block;
  }
}
@media all and (min-width: 320px) and (max-width: 535px) {
  .cont .wrap .sub-tit li:nth-child(3) {
    margin: 30px 0 80px 0;
  }
}
@media all and (min-width: 535px) and (max-width: 720px) {
  .cont .wrap .sub-tit li:nth-child(3) {
    margin: 50px 0 120px 0;
  }
}
@media all and (min-width: 720px) and (max-width: 960px) {
  .cont .wrap .sub-tit li:nth-child(3) {
    margin: 50px 0 100px 0;
  }
}
.cont .wrap .about-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
}
@media all and (min-width: 320px) and (max-width: 535px) {
  .cont .wrap .about-img {
    width: 100%;
  }
}
@media all and (min-width: 535px) and (max-width: 720px) {
  .cont .wrap .about-img {
    width: 70%;
  }
}
@media all and (min-width: 720px) and (max-width: 960px) {
  .cont .wrap .about-img {
    width: 60%;
  }
}
@media all and (min-width: 960px) and (max-width: 1024px) {
  .cont .wrap .about-img {
    width: 45%;
  }
}
@media (min-width: 1024px) and (max-width: 1500px) {
  .cont .wrap .about-img {
    width: 80%;
  }
}
@media (min-width: 1500px) and (max-width: 1800px) {
  .cont .wrap .about-img {
    width: 85%;
  }
}
@media all and (min-width: 1800px) {
  .cont .wrap .about-img {
    width: 80%;
  }
}
.cont .wrap .about-img img {
  width: 100%;
}
.cont .cont1-wrap,
.cont .cont4-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
}
@media all and (min-width: 320px) and (max-width: 535px) {
  .cont .cont1-wrap,
  .cont .cont4-wrap {
    flex-direction: column;
  }
}
@media all and (min-width: 535px) and (max-width: 720px) {
  .cont .cont1-wrap,
  .cont .cont4-wrap {
    flex-direction: column;
    justify-content: center;
  }
}
@media all and (min-width: 720px) and (max-width: 960px) {
  .cont .cont1-wrap,
  .cont .cont4-wrap {
    flex-direction: column;
    justify-content: center;
  }
}
@media all and (min-width: 960px) and (max-width: 1024px) {
  .cont .cont1-wrap .sub-tit,
  .cont .cont4-wrap .sub-tit {
    width: 50%;
  }
}

/* END cont1 */
.flow-container {
  position: relative;
  height: 55vh;
}
@media all and (min-width: 320px) and (max-width: 535px) {
  .flow-container {
    margin: 100px 0;
    height: 30vh;
  }
}
@media all and (min-width: 535px) and (max-width: 720px) {
  .flow-container {
    margin: 150px 0;
    height: 30vh;
  }
}
@media all and (min-width: 720px) and (max-width: 960px) {
  .flow-container {
    margin: 200px 0;
    height: 30vh;
  }
}
@media all and (min-width: 960px) and (max-width: 1024px) {
  .flow-container {
    margin: 180px 0;
    height: 30vh;
  }
}
@media all and (min-width: 1800px) {
  .flow-container {
    margin-bottom: 350px;
  }
}
.flow-container .flow-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.flow-container .flow-wrap .flow {
  position: relative;
}
.flow-container .flow-wrap .flow p {
  overflow: visible;
  line-height: 0.83;
  white-space: nowrap;
  color: #131313;
  font-weight: 400;
  font-size: 150px;
  opacity: 0.1;
}
.flow-container .flow-wrap .flow p:nth-of-type(1) {
  z-index: 5;
  top: 0;
  right: -1200px;
}
@media all and (min-width: 320px) and (max-width: 535px) {
  .flow-container .flow-wrap .flow p {
    font-size: 130px;
  }
}
@media all and (min-width: 535px) and (max-width: 720px) {
  .flow-container .flow-wrap .flow p {
    font-size: 130px;
  }
}
.flow-container .flow-wrap .flow-1 p {
  top: auto;
  right: 0;
  left: -1000px;
  bottom: -55px;
  opacity: 0.3;
  color: transparent;
  -webkit-text-stroke: 1px #131313;
}
@media all and (min-width: 320px) and (max-width: 535px) {
  .flow-container .flow-wrap .flow-1 p {
    bottom: 0;
  }
}
@media all and (min-width: 535px) and (max-width: 720px) {
  .flow-container .flow-wrap .flow-1 p {
    bottom: 0;
  }
}

/* END cont2 */
@media (min-width: 1500px) and (max-width: 1800px) {
  .cont3 {
    margin-bottom: 200px;
  }
}
@media all and (min-width: 1800px) {
  .cont3 {
    margin-bottom: 200px;
  }
}
@media (min-width: 1500px) and (max-width: 1800px) {
  .cont3 .wrap {
    width: 100%;
  }
}
@media all and (min-width: 1800px) {
  .cont3 .wrap {
    width: 100%;
  }
}
.cont3 .wrap .sub-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 1024px) and (max-width: 1500px) {
  .cont3 .wrap .sub-wrap .sub-tit {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1500px) and (max-width: 1800px) {
  .cont3 .wrap .sub-wrap .sub-tit {
    display: flex;
    justify-content: space-between;
    width: 75%;
  }
}
@media all and (min-width: 1800px) {
  .cont3 .wrap .sub-wrap .sub-tit {
    display: flex;
    justify-content: space-between;
    width: 75%;
  }
}
.cont3 .wrap .brand-bg {
  margin-top: 50px;
}
.cont3 .wrap .brand-bg .bg-wrap {
  animation-timing-function: linear;
  transition: 0.3s;
}
@media all and (min-width: 1800px) {
  .cont3 .wrap .brand-bg .bg-wrap {
    width: 80%;
  }
}
.cont3 .wrap .brand-bg .bg-wrap::before {
  content: "BRANDS";
  position: absolute;
  top: -11vh;
  z-index: 2;
  height: 22vh;
  font-size: 20svh;
  font-weight: 700;
  line-height: 23vh;
  opacity: 0.2;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  transform: translateY(-50%) rotate(90deg);
  transform-origin: bottom left;
  pointer-events: none;
}
@media all and (min-width: 320px) and (max-width: 535px) {
  .cont3 .wrap .brand-bg .bg-wrap::before {
    display: none;
  }
}
@media all and (min-width: 535px) and (max-width: 720px) {
  .cont3 .wrap .brand-bg .bg-wrap::before {
    display: none;
  }
}
@media all and (min-width: 720px) and (max-width: 960px) {
  .cont3 .wrap .brand-bg .bg-wrap::before {
    left: -4.8vw;
  }
}
@media (min-width: 1024px) and (max-width: 1500px) {
  .cont3 .wrap .brand-bg .bg-wrap::before {
    left: 0vw;
    top: -4vh;
  }
}
@media (min-width: 1500px) and (max-width: 1800px) {
  .cont3 .wrap .brand-bg .bg-wrap::before {
    left: 4.5vw;
    top: -4vh;
  }
}
@media all and (min-width: 1800px) {
  .cont3 .wrap .brand-bg .bg-wrap::before {
    left: -1.5vw;
    top: -4vh;
  }
}
.cont3 .wrap .brand-bg .bg-wrap .bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 80vh;
  position: relative;
}
.cont3 .wrap .brand-bg .bg-wrap .bg .item-txt {
  position: absolute;
  bottom: 85px;
  color: #fff;
  width: 80%;
  top: auto;
  right: 8%;
}
@media all and (min-width: 320px) and (max-width: 535px) {
  .cont3 .wrap .brand-bg .bg-wrap .bg .item-txt {
    padding-left: 25px;
  }
}
@media all and (min-width: 535px) and (max-width: 720px) {
  .cont3 .wrap .brand-bg .bg-wrap .bg .item-txt {
    padding-left: 50px;
  }
}
@media all and (min-width: 720px) and (max-width: 960px) {
  .cont3 .wrap .brand-bg .bg-wrap .bg .item-txt {
    padding-left: 50px;
    left: 0;
    width: 52%;
    top: 140px;
  }
}
@media (min-width: 1024px) and (max-width: 1500px) {
  .cont3 .wrap .brand-bg .bg-wrap .bg .item-txt {
    right: 3%;
  }
}
@media all and (min-width: 1800px) {
  .cont3 .wrap .brand-bg .bg-wrap .bg .item-txt {
    right: 3%;
  }
}
.cont3 .wrap .brand-bg .bg-wrap .bg .item-txt h4 {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 30px;
}
.cont3 .wrap .brand-bg .bg-wrap .bg .item-txt h4 strong {
  display: block;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 55px;
}
@media all and (min-width: 320px) and (max-width: 535px) {
  .cont3 .wrap .brand-bg .bg-wrap .bg .item-txt h4 strong {
    margin-bottom: 20px;
  }
}
@media all and (min-width: 535px) and (max-width: 720px) {
  .cont3 .wrap .brand-bg .bg-wrap .bg .item-txt h4 strong {
    margin-bottom: 20px;
  }
}
@media all and (min-width: 720px) and (max-width: 960px) {
  .cont3 .wrap .brand-bg .bg-wrap .bg .item-txt h4 strong {
    margin-bottom: 55px;
  }
}
.cont3 .wrap .brand-bg .bg-wrap .bg .item-txt p {
  line-height: 1.7;
  font-size: 14px;
  width: 60%;
}
@media (min-width: 1024px) and (max-width: 1500px) {
  .cont3 .wrap .brand-bg .bg-wrap .bg .item-txt p {
    width: 30%;
  }
}
@media (min-width: 1500px) and (max-width: 1800px) {
  .cont3 .wrap .brand-bg .bg-wrap .bg .item-txt p {
    width: 30%;
  }
}
@media all and (min-width: 1800px) {
  .cont3 .wrap .brand-bg .bg-wrap .bg .item-txt p {
    width: 30%;
  }
}
.cont3 .wrap .brand-bg .bg-wrap .bg .item-txt .more {
  background-color: #fff;
  margin-top: 100px;
}
@media all and (min-width: 320px) and (max-width: 535px) {
  .cont3 .wrap .brand-bg .bg-wrap .bg .item-txt .more {
    margin-top: 30px;
  }
}
@media all and (min-width: 535px) and (max-width: 720px) {
  .cont3 .wrap .brand-bg .bg-wrap .bg .item-txt .more {
    margin-top: 30px;
  }
}
.cont3 .wrap .brand-bg .bg-wrap .bg .item-txt .more:hover {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}
.cont3 .wrap .brand-bg .bg-wrap .bg .item-txt .more:hover button span::after {
  background-color: #fff;
}
.cont3 .wrap .brand-bg .bg-wrap .item-1 {
  background-image: url("/wonderplace/imgs/brand/bg_gola.jpg");
  background-position: top 0 left 42%;
}
.cont3 .wrap .brand-bg .bg-wrap .item-1 .more {
  color: #0f1b27;
}
.cont3 .wrap .brand-bg .bg-wrap .item-1 .more span::after {
  background-color: currentColor;
}
.cont3 .wrap .brand-bg .bg-wrap .item-2 {
  background-image: url("/wonderplace/imgs/brand/bg_comoninoz.jpg");
  background-position: top 0 left 55%;
}
.cont3 .wrap .brand-bg .bg-wrap .item-2 .more {
  color: #161422;
}
.cont3 .wrap .brand-bg .bg-wrap .item-2 .more span::after {
  background-color: currentColor;
}
.cont3 .wrap .brand-bg .bg-wrap .item-3 {
  background-image: url("/wonderplace/imgs/brand/bg_w.standard.jpg");
  background-position: top 0 left 50%;
}
.cont3 .wrap .brand-bg .bg-wrap .item-3 .more {
  color: #646a57;
}
.cont3 .wrap .brand-bg .bg-wrap .item-3 .more span::after {
  background-color: currentColor;
}
.cont3 .wrap .brand-bg .bg-wrap .item-4 {
  background-image: url("/wonderplace/imgs/brand/bg_deliccent.jpg");
  background-position: top 0 left 55%;
}
.cont3 .wrap .brand-bg .bg-wrap .item-4 .more {
  color: #51426e;
}
.cont3 .wrap .brand-bg .bg-wrap .item-4 .more span::after {
  background-color: currentColor;
}
.cont3 .wrap .brand-bg .bg-wrap .item-5 {
  background-image: url("/wonderplace/imgs/brand/bg_outdoor_products.jpg");
  background-position: top 0 left 32%;
}
.cont3 .wrap .brand-bg .bg-wrap .item-5 .more {
  color: #878168;
}
.cont3 .wrap .brand-bg .bg-wrap .item-5 .more span::after {
  background-color: currentColor;
}
.cont3 .wrap .brand-bg .bg-wrap .item-6 {
  background-image: url("/wonderplace/imgs/brand/bg_ordinary_holiday.jpg");
  background-position: top 0 left 48%;
}
.cont3 .wrap .brand-bg .bg-wrap .item-6 .more {
  color: #877c98;
}
.cont3 .wrap .brand-bg .bg-wrap .item-6 .more span::after {
  background-color: currentColor;
}
.cont3 .wrap .brand-bg .bg-wrap .item-7 {
  background-image: url("/wonderplace/imgs/brand/bg_field_worker.jpg");
  background-position: top 0 left 74%;
}
.cont3 .wrap .brand-bg .bg-wrap .item-7 .more {
  color: #7e7f7a;
}
.cont3 .wrap .brand-bg .bg-wrap .item-7 .more span::after {
  background-color: currentColor;
}
.cont3 .wrap .brand-bg .bg-wrap .pg-controller {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 50%;
  right: 85px;
}
@media all and (min-width: 320px) and (max-width: 535px) {
  .cont3 .wrap .brand-bg .bg-wrap .pg-controller {
    flex-direction: row;
    width: 100%;
    right: 0;
    bottom: 30px;
  }
}
@media all and (min-width: 720px) and (max-width: 960px) {
  .cont3 .wrap .brand-bg .bg-wrap .pg-controller {
    flex-direction: row;
    width: 100%;
    right: 0;
    bottom: 30px;
  }
}
@media all and (min-width: 535px) and (max-width: 720px) {
  .cont3 .wrap .brand-bg .bg-wrap .pg-controller {
    flex-direction: row;
    width: 100%;
    right: 0;
    bottom: 30px;
  }
}
@media all and (min-width: 960px) and (max-width: 1024px) {
  .cont3 .wrap .brand-bg .bg-wrap .pg-controller {
    right: 79px;
    top: 262px;
  }
}
@media (min-width: 1024px) and (max-width: 1500px) {
  .cont3 .wrap .brand-bg .bg-wrap .pg-controller {
    right: 100px;
    top: 282px;
  }
}
@media (min-width: 1500px) and (max-width: 1800px) {
  .cont3 .wrap .brand-bg .bg-wrap .pg-controller {
    right: 200px;
    top: 282px;
  }
}
@media all and (min-width: 1800px) {
  .cont3 .wrap .brand-bg .bg-wrap .pg-controller {
    right: 280px;
    top: 282px;
  }
}
.cont3 .wrap .brand-bg .bg-wrap .pg-controller li {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.5);
}
.cont3 .wrap .brand-bg .bg-wrap .pg-controller li::before {
  content: "";
  display: inline-block;
  background-color: #fff;
  opacity: 0.5;
  width: 7px;
  height: 3.8px;
  margin-left: 10px;
  transition: 0.3s;
  cursor: pointer;
}
@media all and (min-width: 320px) and (max-width: 535px) {
  .cont3 .wrap .brand-bg .bg-wrap .pg-controller li {
    margin-right: 10px;
  }
  .cont3 .wrap .brand-bg .bg-wrap .pg-controller li:nth-child(7) {
    margin-right: 0;
  }
}
@media all and (min-width: 535px) and (max-width: 720px) {
  .cont3 .wrap .brand-bg .bg-wrap .pg-controller li {
    margin-right: 10px;
  }
  .cont3 .wrap .brand-bg .bg-wrap .pg-controller li:nth-child(7) {
    margin-right: 0;
  }
}
.cont3 .wrap .brand-bg .bg-wrap .pg-controller li .pg {
  font-weight: 600;
  font-size: 15px;
}
@media all and (min-width: 320px) and (max-width: 535px) {
  .cont3 .wrap .brand-bg .bg-wrap .pg-controller li .pg {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    white-space: nowrap;
    clip: rect(0, 0, 0, 0);
  }
}
@media all and (min-width: 720px) and (max-width: 960px) {
  .cont3 .wrap .brand-bg .bg-wrap .pg-controller li .pg {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    white-space: nowrap;
    clip: rect(0, 0, 0, 0);
  }
}
@media all and (min-width: 535px) and (max-width: 720px) {
  .cont3 .wrap .brand-bg .bg-wrap .pg-controller li .pg {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    white-space: nowrap;
    clip: rect(0, 0, 0, 0);
  }
}
.cont3 .wrap .brand-bg .bg-wrap .pg-controller li.slick-active {
  color: #fff;
}
.cont3 .wrap .brand-bg .bg-wrap .pg-controller li.slick-active::before {
  opacity: 1;
  width: 20px;
}
@media all and (min-width: 1800px) {
  .cont3 .wrap .brand-bg {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* END cont3 */
.cont4 {
  margin-top: 0;
  background-color: #f5f5f5;
  padding: 150px 0;
}
@media all and (min-width: 320px) and (max-width: 535px) {
  .cont4 {
    padding: 100px 0;
  }
}
@media all and (min-width: 535px) and (max-width: 720px) {
  .cont4 {
    padding: 120px 0;
  }
}
.cont4 .wrap {
  align-items: flex-start;
}
@media (min-width: 1024px) and (max-width: 1500px) {
  .cont4 .wrap {
    width: 80%;
  }
}
.cont4 .wrap .pc-info-wrap {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
}
.cont4 .wrap .pc-info-wrap .info-wrap {
  display: block;
}
@media all and (min-width: 320px) and (max-width: 535px) {
  .cont4 .wrap .pc-info-wrap .info-wrap {
    display: none;
  }
}
@media all and (min-width: 535px) and (max-width: 720px) {
  .cont4 .wrap .pc-info-wrap .info-wrap {
    display: none;
  }
}
@media all and (min-width: 720px) and (max-width: 960px) {
  .cont4 .wrap .pc-info-wrap .info-wrap {
    display: none;
  }
}
.cont4 .wrap .pc-info-wrap .info-wrap p {
  font-size: 14px;
  line-height: 2;
  margin: 50px 0;
  font-size: 17px;
}
.cont4 .wrap .pc-info-wrap .info-wrap p span {
  display: block;
  margin-top: 30px;
}
.cont4 .wrap .pc-info-wrap .info-wrap .more {
  width: 200px;
}
.cont4 .wrap .pc-info-wrap .info-wrap .more span {
  width: 160px;
}
.cont4 .wrap .pc-info-wrap .sub-tit {
  width: 80%;
}
.cont4 .wrap .pc-info-wrap .sub-tit ul li:nth-child(1) {
  font-size: 38px;
}
@media all and (min-width: 320px) and (max-width: 535px) {
  .cont4 .wrap .pc-info-wrap .sub-tit ul li:nth-child(1) {
    font-size: 25px;
    margin-bottom: 50px;
  }
}
@media all and (min-width: 720px) and (max-width: 960px) {
  .cont4 .wrap .pc-info-wrap .sub-tit ul li:nth-child(1) {
    font-size: 30px;
    margin-bottom: 50px;
  }
}
@media all and (min-width: 535px) and (max-width: 720px) {
  .cont4 .wrap .pc-info-wrap .sub-tit ul li:nth-child(1) {
    font-size: 33px;
    margin-bottom: 50px;
  }
}
.cont4 .wrap .map-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column-reverse;
  overflow: hidden;
}
.cont4 .wrap .map-wrap .info-wrap {
  display: none;
}
@media all and (min-width: 320px) and (max-width: 535px) {
  .cont4 .wrap .map-wrap .info-wrap {
    display: block;
  }
}
@media all and (min-width: 535px) and (max-width: 720px) {
  .cont4 .wrap .map-wrap .info-wrap {
    display: block;
  }
}
@media all and (min-width: 720px) and (max-width: 960px) {
  .cont4 .wrap .map-wrap .info-wrap {
    display: block;
  }
}
.cont4 .wrap .map-wrap .info-wrap p {
  font-size: 14px;
  line-height: 2;
  margin: 50px 0;
}
@media all and (min-width: 320px) and (max-width: 535px) {
  .cont4 .wrap .map-wrap .info-wrap p span {
    display: block;
  }
}
.cont4 .wrap .map-wrap .info-wrap .more {
  width: 220px;
}
.cont4 .wrap .map-wrap .info-wrap .more span {
  width: 160px;
}
.cont4 .wrap .map-wrap .map {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 100%;
}
.cont4 .wrap .map-wrap .map #map {
  box-shadow: -5px -5px 15px 34px rgba(19, 19, 19, 0.08);
  background-position: center;
  width: 100%;
  height: 400px;
}
@media all and (min-width: 320px) and (max-width: 535px) {
  .cont4 .wrap .map-wrap .map #map {
    height: 200px;
  }
}
@media all and (min-width: 535px) and (max-width: 720px) {
  .cont4 .wrap .map-wrap .map #map {
    height: 400px;
  }
}
@media all and (min-width: 720px) and (max-width: 960px) {
  .cont4 .wrap .map-wrap .map #map {
    height: 450px;
  }
}
@media all and (min-width: 960px) and (max-width: 1024px) {
  .cont4 .wrap .map-wrap .map #map {
    height: 430px;
  }
}
@media (min-width: 1024px) and (max-width: 1500px) {
  .cont4 .wrap .map-wrap .map #map {
    height: 510px;
  }
}
@media all and (min-width: 1800px) {
  .cont4 .wrap .map-wrap .map #map {
    height: 550px;
  }
}

/* END cont4 */
.footer {
  margin-top: 0px;
  padding-bottom: 50px;
  border-top: 1px solid #e5e5e5;
}
@media (min-width: 1024px) and (max-width: 1500px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 80px;
  }
}
@media (min-width: 1500px) and (max-width: 1800px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 0;
  }
}
@media all and (min-width: 1800px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 0;
  }
}
@media (min-width: 1024px) and (max-width: 1500px) {
  .footer .wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }
}
@media (min-width: 1500px) and (max-width: 1800px) {
  .footer .wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }
}
@media all and (min-width: 1800px) {
  .footer .wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    width: 80%;
  }
}
.footer .foot-sns {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: start;
  margin: 50px 0;
}
@media (min-width: 1024px) and (max-width: 1500px) {
  .footer .foot-sns {
    align-items: start;
    flex-direction: column;
    margin: 0;
  }
}
@media (min-width: 1500px) and (max-width: 1800px) {
  .footer .foot-sns {
    align-items: start;
    flex-direction: column;
    margin: 0;
  }
}
@media all and (min-width: 1800px) {
  .footer .foot-sns {
    align-items: start;
    flex-direction: column;
    margin: 0;
    margin-right: 20px;
  }
}
.footer .foot-sns li {
  text-transform: capitalize;
  font-weight: 700;
  margin: 0 8px;
}
@media (min-width: 1024px) and (max-width: 1500px) {
  .footer .foot-sns li {
    font-size: 17px;
    line-height: 2.2;
  }
}
@media (min-width: 1500px) and (max-width: 1800px) {
  .footer .foot-sns li {
    font-size: 17px;
    line-height: 2.2;
  }
}
@media all and (min-width: 1800px) {
  .footer .foot-sns li {
    font-size: 17px;
    line-height: 2.2;
  }
}
.footer p {
  font-size: 14px;
}
@media (min-width: 1024px) and (max-width: 1500px) {
  .footer p {
    font-size: 17px;
    line-height: 2.2;
  }
}
@media (min-width: 1500px) and (max-width: 1800px) {
  .footer p {
    font-size: 17px;
    line-height: 2.2;
  }
}
@media all and (min-width: 1800px) {
  .footer p {
    font-size: 17px;
    line-height: 2.2;
    margin-right: 20px;
  }
}
@media (min-width: 1024px) and (max-width: 1500px) {
  .footer p span {
    display: block;
  }
}
@media (min-width: 1500px) and (max-width: 1800px) {
  .footer p span {
    display: block;
  }
}
@media all and (min-width: 1800px) {
  .footer p span {
    display: block;
  }
}
.footer p strong {
  font-weight: 700;
  margin: 0 3px;
}
@media (min-width: 1024px) and (max-width: 1500px) {
  .footer p strong {
    margin: 0;
  }
}
@media (min-width: 1500px) and (max-width: 1800px) {
  .footer p strong {
    margin: 0;
  }
}
@media all and (min-width: 1800px) {
  .footer p strong {
    margin: 0;
  }
}
.footer .adress {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) and (max-width: 1500px) {
  .footer .adress {
    margin: 0;
    width: 31%;
  }
}
@media (min-width: 1500px) and (max-width: 1800px) {
  .footer .adress {
    margin: 0;
    width: 30%;
  }
}
@media all and (min-width: 1800px) {
  .footer .adress {
    margin: 0;
    margin-right: 20px;
  }
}
.footer .adress li {
  display: flex;
  margin-bottom: 15px;
}
@media all and (min-width: 320px) and (max-width: 535px) {
  .footer .adress li {
    font-size: 13px;
  }
}
@media all and (min-width: 535px) and (max-width: 720px) {
  .footer .adress li {
    font-size: 13px;
  }
}
@media (min-width: 1024px) and (max-width: 1500px) {
  .footer .adress li {
    line-height: 2.2;
    margin: 0;
    font-size: 15px;
  }
}
@media all and (min-width: 1800px) {
  .footer .adress li {
    margin-bottom: 30px;
  }
}
.footer .adress li strong {
  font-weight: 700;
  display: inline-block;
  width: 60px;
  margin-right: 35px;
}
@media all and (min-width: 320px) and (max-width: 535px) {
  .footer .adress li strong {
    margin-right: 10px;
  }
}
@media all and (min-width: 535px) and (max-width: 720px) {
  .footer .adress li strong {
    margin-right: 10px;
  }
}
.footer .adress li:nth-child(2) span {
  text-transform: lowercase;
}
@media (min-width: 1500px) and (max-width: 1800px) {
  .footer .adress li .contact li {
    line-height: 1.8;
  }
}
@media (min-width: 1024px) and (max-width: 1500px) {
  .footer .adress li .contact li:nth-child(2), .footer .adress li .contact li:nth-child(3), .footer .adress li .contact li:nth-child(4) {
    display: none;
  }
}
@media (min-width: 1500px) and (max-width: 1800px) {
  .footer .adress li .contact li:nth-child(2), .footer .adress li .contact li:nth-child(3), .footer .adress li .contact li:nth-child(4) {
    display: none;
  }
}
@media all and (min-width: 1800px) {
  .footer .adress li .contact li:nth-child(2), .footer .adress li .contact li:nth-child(3), .footer .adress li .contact li:nth-child(4) {
    display: none;
  }
}
.footer .adress:nth-of-type(2) {
  display: none;
}
@media (min-width: 1024px) and (max-width: 1500px) {
  .footer .adress:nth-of-type(2) {
    display: flex;
  }
}
@media (min-width: 1500px) and (max-width: 1800px) {
  .footer .adress:nth-of-type(2) {
    display: flex;
  }
}
@media all and (min-width: 1800px) {
  .footer .adress:nth-of-type(2) {
    display: flex;
  }
}