.btn-square {
  width: 100px;
  height: 100px;
}

.btn-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

button:hover {
  font-weight: 700;
  color: red;
}
button.on {
  color: red;
}

.title {
  font-size: 30px;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 20px;
  }
}
@media screen and (min-width: 540px) {
  .title {
    font-size: 10px;
  }
}

.sns.facebook {
  background-image: url(/wonderplace/imgs/common/facebook.svg);
}
.sns.instagram {
  background-image: url(/wonderplace/imgs/common/instagram.svg);
}
.sns.youtube {
  background-image: url(/wonderplace/imgs/common/youtube.svg);
}
.sns.facebook {
  background-color: #d3e6f3;
}
.sns.instagram {
  background-color: #fff;
}
.sns.youtube {
  background-color: #333;
}